@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

input {
  @apply w-[400px] border border-gray-200 py-2 px-6 bg-zinc-100/40;
}
.dashboard {
  margin: 1rem;
  display: inline-table;
  gap: 2rem;
  color: #232121;
}
.card {
  height: 8rem;
  /* width: 120%; */
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0px;
  align-items: center;
  border-radius: 25px;
  gap: 2rem;
}
.card:hover,
.card.color1 {
  border: 1px solid #7a7777;
  box-shadow: 10px 20px 20px 20px rgba(206, 17, 17, 0.1);
}
.icon {
  color: #343432;
  padding: 1rem;
  position: relative;
  left: 3rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}
.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}
.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}
.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}
.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}
.login-btn {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(135, 99, 99, 0.15);
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
}
.body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 110%;
  background-image: url('assets/vivid.jpeg');
  /* background: url("https://www.codingnepalweb.com/demos/create-glassmorphism-login-form-html-css/hero-bg.jpg"), #ddd6d6; */
  background-position: center;
  background-size: cover;
}
.logo{
  content: "";
  position: absolute;
  width: 10%;
  height: 10%;
  background-image: url('assets/vivid-logo.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-page{
  content: "";
  position: absolute;
  background-image: url('assets/bg2.jpg');
  width: 100%;
  height: 90%;
  background-position: center;
  background-size: cover;
}
.report-bg{
  position: absolute;
  background-image: url('assets/vivid-logo.jpg');
  width: 100%;
  height: 90%;
  background-position: center;
  background-size: cover;
  opacity: 0.1;
}
.bg-page3{
  content: "";
  position: absolute;
  background-image: url('assets/bg2.jpg');
  width: 100%;
  height: 90%;
  background-position: center;
  background-size: cover;
}
.wrapper {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
form {
  display: flex;
  flex-direction: column;
}
.register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}
.navbar{
margin-top: -32px;
}
.edit-icon{
  color: #100f0f;
}
.nav-color{
  background: #fff;
}
.page-title{
  font-size: 1.2rem;
  font-family: 'Monaco';
}
.char-0 { color: #12043a; } /* V */
.char-1 { color: #12043a; } /* i */
.char-2 { color: #12043a; } /* v */
.char-3 { color: #12043a; } /* i */
.char-4 { color: #12043a; } /* d */
.char-5 { color: #89971e; } /* (space) */
.char-6 { color: #4b530e; } /* C */
.char-7 { color: #4b530e; } /* a */
.char-8 { color: #4b530e; } /* f */
.char-9 { color: #4b530e; } /* e */
.char-10 { color: #FF0088; } /* (space) */
.char-11 { color: #65042c; } /* & */
.char-12 { color: #AAFF00; } /* (space) */
.char-13 { color: #12043a; } /* B */
.char-14 { color: #12043a; } /* o */
.char-15 { color: #12043a; } /* o */
.char-16 { color: #12043a; } /* z */
.char-17 { color: #12043a; } /* e */

.separator {
  height: 0.8px;
  background-color: rgb(214, 207, 207);
  border: none;
}
.add-table{
  border: 1px solid #000;
}
main.table {
  width: 82vw;
  height: 90vh;
  background-color: #fff5;

  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;

  overflow: hidden;
}

.table-body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: .8rem auto;
  border-radius: .6rem;

  overflow: auto;
  overflow: overlay;
}
table {
  width: 100%;
}
table, th, td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}
thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}
.sales-body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}
.table-body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.table-body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}

.table-body:hover::-webkit-scrollbar-thumb{ 
  visibility: visible;
}
tbody tr:nth-child(even) {
  background-color: #0000000b;
}
tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
}
tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #d5d1defe;
}

tbody tr td,
tbody tr td p,
tbody tr td {
  transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: .2s ease-in-out .5s;
}
@media (max-width: 1000px) {
  td:not(:first-of-type) {
      min-width: 12.1rem;
  }
}
thead th:hover {
  color: #6c00bd;
}
thead th.active,tbody td.active {
  color: #6c00bd;
}
tbody tr {
  background-color: rgb(224, 235, 235);
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 40px;
  border-radius: 8px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 2px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}