@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

body {
  background: #E0E0E0;
  margin: 0;
  padding: 0;
  color: #333;
  font-family: sans-serif;
}

input {
  @apply w-[400px] border border-gray-200 py-2 px-6 bg-zinc-100/40;
}
.dashboard {
  margin: 1rem;
  display: inline-table;
  gap: 2rem;
  color: #8A8B8D;
}
.card {
  height: 8rem;
  /* width: 120%; */
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0px;
  align-items: center;
  border-radius: 25px;
  gap: 2rem;
  width: 260px;

  background-color: rgb(15, 15, 15); /* Solid yellow background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
  z-index: 1; /* Ensures it stays on top of other elements */
  position: relative; /* Ensures it respects z-index */
}
.card:hover,
.card.color1 {
  border: 1px solid #7a7777;
  box-shadow: 10px 20px 20px 20px rgba(206, 17, 17, 0.1);
}
.icon-color{
  color: #7a7777;
}

.card-terrace {
  height: 8rem;
  /* width: 120%; */
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0px;
  align-items: center;
  border-radius: 25px;
  gap: 2rem;
  width: 290px;
}

.icon {
  color: #343432;
  padding: 1rem;
  position: relative;
  left: 3rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}
.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}
.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}
.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}
.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}
.login-btn {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(135, 99, 99, 0.15);
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
}
.body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 110%;
  background-image: url('assets/hybe.jpg');
  /* background: url("https://www.codingnepalweb.com/demos/create-glassmorphism-login-form-html-css/hero-bg.jpg"), #ddd6d6; */
  background-position: center;
  background-size: cover;
}
.logo{
  content: "";
  position: absolute;
  width: 10%;
  height: 10%;
  /* background-image: url('assets/vivid-logo.jpg'); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-page{
  content: "";
  position: absolute;
  background-image: url('assets/hyb.jpg');
  /* background-image: url('https://media.giphy.com/media/u97VE638KghOl3PCwO/giphy.gif'); */
  width: 100%;
  height: 110%;
  background-position: center;
  background-size: cover;
  opacity: 5.5;
  z-index: -1;
}
.report-bg{
  position: absolute;
  /* background-image: url('assets/vivid-logo.jpg'); */
  width: 100%;
  height: 90%;
  background-position: center;
  background-size: cover;
  opacity: 0.1;
}

.sum{
  color: #03594d
}
.bg-page3{
  content: "";
  position: absolute;
  /* background-image: url('assets/bg2.jpg'); */
  width: 100%;
  height: 90%;
  background-position: center;
  background-size: cover;
}
.wrapper {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
form {
  display: flex;
  flex-direction: column;
}
.register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}
.navbar{
margin-top: -32px;
}
.edit-icon{
  color: #100f0f;
}
.nav-color{
  background: #E0E0E0;
}
.page-title{
  font-size: 1.2rem;
  font-family: 'Monaco';
}
.char-0 { color: #12043a; } /* V */
.char-1 { color: #12043a; } /* i */
.char-2 { color: #12043a; } /* v */
.char-3 { color: #12043a; } /* i */
.char-4 { color: #12043a; } /* d */
.char-5 { color: #89971e; } /* (space) */
.char-6 { color: #4b530e; } /* C */
.char-7 { color: #4b530e; } /* a */
.char-8 { color: #4b530e; } /* f */
.char-9 { color: #4b530e; } /* e */
.char-10 { color: #FF0088; } /* (space) */
.char-11 { color: #65042c; } /* & */
.char-12 { color: #090d02; } /* (space) */
.char-13 { color: #12043a; } /* B */
.char-14 { color: #12043a; } /* o */
.char-15 { color: #12043a; } /* o */
.char-16 { color: #12043a; } /* z */
.char-17 { color: #12043a; } /* e */

.separator {
  height: 0.8px;
  background-color: rgb(214, 207, 207);
  border: none;
}
.add-table{
  border: 1px solid #000;
}
main.table {
  width: 82vw;
  height: 90vh;
  background-color: #fff5;

  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;

  overflow: hidden;
}

.table-body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: .8rem auto;
  border-radius: .6rem;

  overflow: auto;
  overflow: overlay;
}
table {
  width: 100%;
}
table, th, td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}
thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
  cursor: pointer;
  text-transform: capitalize;
}
.sales-body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}
.table-body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.table-body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}

.table-body:hover::-webkit-scrollbar-thumb{ 
  visibility: visible;
}
tbody tr:nth-child(even) {
  background-color: #0000000b;
}
tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
}
tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #d5d1defe;
}

tbody tr td,
tbody tr td p,
tbody tr td {
  transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
  width: 0;
  height: 0;
  transition: .2s ease-in-out .5s;
}
@media (max-width: 1000px) {
  td:not(:first-of-type) {
      min-width: 12.1rem;
  }
}
thead th:hover {
  color: #6c00bd;
}
thead th.active,tbody td.active {
  color: #6c00bd;
}
tbody tr {
  background-color: rgb(224, 235, 235);
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 40px;
  border-radius: 8px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 2px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

@media (min-width: 640px) {
  /* On screens larger than mobile, place the button at the top */
  .modal-close {
    top: 20px;
    right: 10px;
  }
}

@media (max-width: 640px) {
  /* On mobile screens, place the button at the bottom */
  .modal-close {
    bottom: 450px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media print {
  .add-table { 
      display: none; /* Hide buttons during printing */
  }
  .print-hide {
    display: none !important;
  }
  .order-table th, .order-table td {
      border: 1px solid #000; /* Darker border for better visibility */
  }
  /* Additional print-specific styles */
}

/* Receipt.css */
.receipt-container {
  text-align: center;
  margin: 20px;
}

.receipt-text {
  font-family: monospace; /* Use a monospaced font to keep alignment */
  white-space: pre; /* Preserve whitespace and line breaks */
}

@media print {
  body {
    width: 80mm;
    height: 210mm;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  .bill-print{
    width: 80mm;
    height: 210mm;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  .receipt-container, .order-table {
    width: 100%; /* Ensure the table and content fit within 80mm */
  }

  .receipt-text {
    text-align: center;
    white-space: pre-wrap;
    margin: 0 auto;
    font-size: 14px; /* Smaller font for receipt text */
  }

  .order-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px; /* Smaller font for table */
    border-spacing: 0; /* Removes extra space between borders */
    table-layout: fixed; /* Fixes the table layout */
    word-wrap: break-word; /* Allows long text to wrap */
  }

  .order-table th, .order-table td {
    padding: 1px 2px; /* Reduce padding inside table cells */
    border: 1px solid #000; /* Table borders */
    text-align: left;
    word-wrap: break-word; /* Ensure text wrapping in narrow cells */
    white-space: normal; /* Allow text to wrap */
  }

  .order-table th {
    white-space: nowrap;
    font-weight: bold;
    padding: 1px 2px; /* Decrease padding for table headers */
  }

  .order-table td {
    word-wrap: break-word; /* Ensure text wraps in table cells */
    white-space: normal; /* Allow wrapping in all table data */
  }

  /* Set a fixed width for the "Quantity" column */
  .order-table th:nth-child(2), /* "Quantity" header */
  .order-table td:nth-child(2)  /* "Quantity" data */
  {
    width: 15% !important; /* Force the width using !important */
    text-align: center; /* Optional: Center-align text in the quantity column */
  }

  /* Set a fixed width for other columns as well, if needed */
  .order-table th:nth-child(1), /* "Order" header */
  .order-table td:nth-child(1)  /* "Order" data */
  {
    width: 55%; /* Adjust as needed */
  }

  .order-table th:nth-child(3), /* "Price" header */
  .order-table td:nth-child(3)  /* "Price" data */
  {
    width: 15%; /* Adjust as needed */
  }

  .order-table th:nth-child(4), /* "Total Price" header */
  .order-table td:nth-child(4)  /* "Total Price" data */
  {
    width: 15%; /* Adjust as needed */
  }

  p, pre {
    margin: 0;
    padding: 4px 0;
  }

  button {
    display: none; /* Hide buttons during print */
  }

  #discount-section input {
    border: none;
    border-bottom: 1px solid #000;
    width: 50mm;
  }
}

/* Scrollbar styles for WebKit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  visibility: visible; /* Force visibility */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Customize the scrollbar color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Customize the track color */
}

@media (min-width: 1024px) {
  .tables-row {
      display: flex;
      flex-direction: row; /* Horizontally align items */
      gap: 16px; /* Adjust gap as needed */
  }
}

/* For devices below 1024px (mobile) */
@media (max-width: 1024px) {
  .tables-row {
      display: flex;
      flex-direction: column; /* Stack items vertically */
      gap: 8px; /* Adjust gap as needed */
  }
}

@media (min-width: 1024px) {
  .table-reverse {
    flex-direction: row-reverse; /* Reverse order (8, 7, 6, 5) */
    margin-right: 10px;
  }
}

.filter-options {
  display: flex;
  justify-content: flex-end; /* Align to the right */
  margin-bottom: 16px; /* Spacing below the filter */
  margin-right: 80px;
  margin-top: 12px;
} 

.filter-options label {
  margin-right: 8px; /* Space between label and dropdown */
}

.dropdown {
  position: relative;
  display: inline-block; /* Allows the dropdown to be inline with other elements */
}

.dropdown button {
  margin-top: -10px;
  background-color: #808283; /* Button background color */
  color: white; /* Button text color */
  border: none; /* Remove default border */
  padding: 10px 20px; /* Button padding */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 4px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth background transition */
}

.dropdown button:hover {
  background-color: #0056b3; /* Darker color on hover */
}

.dropdown-options {
  position: absolute;
  right: 0; /* Align dropdown to the right */
  z-index: 10; /* Ensure this is higher than surrounding elements */
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px; /* Rounded corners for dropdown */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin-top: 4px; /* Space between button and dropdown */
  padding: 0; /* Reset padding */
  list-style-type: none; /* Remove default list styles */
  width: 150%; /* Match dropdown to button width */
}

.dropdown-options li {
  padding: 10px 15px; /* Padding for dropdown items */
  cursor: pointer; /* Pointer cursor for items */
  transition: background-color 0.3s; /* Smooth background transition */
}

.dropdown-options li:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}

.dropdown-options li:active {
  background-color: #e0e0e0; /* Slightly darker on click */
}

.customer-label{
  font-weight: 800;
  margin-left: 15px;
  color: #235BA8;
}

.order-label{
  margin-left: 15px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* text-align: center; */
}
.date-input-row {
  margin-bottom: 25px;
}

.date-input-row label {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 14px;
  font-weight: bold;
}
.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 8px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background-color: #235BA8;
  color: #fff;
}

.modal-buttons button:last-child {
  background-color: #f8f9fa;
  color: #000;
}


.table-title{
  margin-left: 10px;
  text-align: center;
  margin-top: 10px;
  color: #e5872a;
}

/* For screen (UI display) */
.bill-print {
  position: relative;
  max-height: 80vh; /* Set a max height to prevent the popup from growing too large */
  overflow-y: auto; /* Make it scrollable if content exceeds the height */
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  z-index: 1000; /* Ensure it's above other elements */
}

.table-wrapper {
  max-height: 300px; /* Set a smaller height for UI display */
  overflow-y: auto; /* Enable scrolling if content is too long */
}

/* For the print view */
@media print {
  .table-wrapper {
      max-height: none; /* Remove height limitation for printing */
      overflow: visible; /* Ensure all content is printed */
  }

  button, input, #discount-section {
      display: flex;
  }
}





